@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/space-mono-v6-latin-regular.woff2") format("woff2"),
       url("../fonts/space-mono-v6-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/space-mono-v6-latin-700.woff2") format("woff2"),
       url("../fonts/space-mono-v6-latin-700.woff") format("woff");
}
@font-face {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lexend-deca-v7-latin-regular.woff2") format("woff2"),
       url("../fonts/lexend-deca-v7-latin-regular.woff") format("woff");
}
/*CUSTOM PROPERTIES*/
:root {
  --font-family: "Lexend Deca", "Arial", sans-serif;
  --font-family-space-mono: "Space Mono", monospace;
}
/* #BOX-SIZING */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
h1, h2, h3, h4, h5 {
  font-family: var(--font-family-space-mono);
  margin: 0;
}
p {
  margin: 0;
}
a {
  font-family: var(--font-family-space-mono);
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

/* #GLOBAL-STYLES */
body {
  position: relative;
  font-family: var(--font-family);
  background-color: #fff;
  color: #222;
  font-weight: 500;
  overflow-x: hidden;
}

/* VISUALLY HIDING CODE */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  width: 1146px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
/*SITE-HEADER*/
.site-header {
  padding-top: 22px;
  padding-bottom: 21px;
}
.sitenav__container {
  display: flex;
  align-items: center;
}
.link--logo {
  margin-right: 58px;
}
.sitenav__logo,
.site-footer__logo {
  display: block;
}
.sitenav__list {
  display: flex;
  align-items: center;
  padding: 14px 0;
  margin: 0;
  list-style-type: none;
  margin-right: auto;
}
.sitenav__item {
  margin-right: 32px;
}

.sitenav__link {
  text-decoration: none;
  font-size: 15px;
  line-height: 25px;
  font-weight: 700;
  color: #939caa;
  transition: color 0.2s linear;
}
.sitenav__link:hover {
  color: #fcb72b;
}
.sitenav__button--bordered {
  padding: 14px 19px;
  color: #fff;
  background-color: #fcb72b;
  border: 3px solid transparent;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  transition: background-color 0.2s linear,
              color 0.1s linear;
}
.sitenav__button--bordered:hover {
  border: 3px solid #fcb72b;
  color: #fcb72b;
  background-color: #fff;
}

/*MAIN*/

/*SCOOTER-SHARING SECTION*/
.scooter-sharing {
  background-image: url("../images/site-hero-bg-circles.svg"),
                    linear-gradient(rgba(47, 59, 89, 0.75), rgba(47, 59, 89, 0.75)),
                    url("../images/site-hero-bg-scoot.png");
  background-size: 234px 63px,
                   100%,
                   2610px 1740px;
  background-repeat: no-repeat,
                     repeat,
                     no-repeat;
  background-position: calc(50% + 600px) calc(50%  + 125px),
                       center center,
                       calc(50% + 275px) calc(50% - 430px);
  padding-top: 153px;
  padding-bottom: 153px;
}
.scooter-sharing:before {
  content: "";
  background-image: url("../images/site-hero-horizontal-line.svg");
  width: 203px;
  height: 15px;
}
.scooter-sharing__info-wrapper {
  width: 500px;
  color: #fff;
}
.scooter-sharing__heading {
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  margin-bottom: 40px;
}

.scooter-sharing__desc {
  padding-left: 95px;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 40px;
}
.scooter-sharing__button {
  display: inline-block;
  padding: 14px 19px;
  color: #fff;
  background-color: #fcb72b;
  border: 3px solid transparent;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  transition: background-color 0.2s linear,
              color 0.1s linear;

  margin-left: 95px;
}
.scooter-sharing__button:hover {
  border: 3px solid #fcb72b;
  color: #fcb72b;
  background-color: transparent;
}


/*JOIN-US SECTION*/
.join-us {
	padding-top: 160px;
	padding-bottom: 200px;
}
.join-us__container {
	position: relative;
}
.join-us__horizontal-line {
	left: calc(50% - 675px);
	top: calc(50% - 105px);
	position: absolute;
	z-index: -1;
	width: 974px;
	height: 15px;
	background-color: #e5eef4;
}
.join-us__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.join-us__item {
	width: 350px;
}
.join-us__item:not(.join-us__item:last-child) {
	margin-right: 30px;
}
.join-us__heading:before {
  display: block;
  content: "";
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fcb72b;
  margin-bottom: 40px;
}
.join-us__heading {
  font-size: 24px;  
  line-height: 28px;
  color: #495567;
  letter-spacing: -1.07px;
  margin-bottom: 27px;
}

.join-us__heading--first:before {
  background-image: url("../images/locate-with-app.svg");
  background-size: 38px 48px;
}
.join-us__heading--second:before {
  background-image: url("../images/pick-your-scooter.svg");
  background-size: 40px 40px;
}
.join-us__heading--third:before {
  background-image: url("../images/enjoy-the-ride.svg");
  background-size: 38px 48px;
}
.join-us__desc {
	font-size: 15px;
	line-height: 25px;
	color: #939caa;
}


/*FEATURES */
.features__list {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.features__item {
  width: 445px;
  position: relative;
  z-index: 11;
  display: flex;
  align-items: center;
  margin-bottom: 226px;
}
.features__item:not(.features__item--second) {
  margin-right: auto;
}
.features__item:nth-of-type(2n) {
	 flex-direction: row-reverse;
   margin-left: auto;
}
.features__item:after {
  position: absolute;
  content: "";
  height: 445px;
  width: 954px;
}
.features__item--first:after {
  background-image: url("../images/easu-to-use-riding-telemetry.png");
  right: calc(50% - 1360px);
}
.features__item--second:after {
  background-image: url("../images/Coming-to-a-city-near-you.png");
  right: calc(50% + 410px);
}

.features__item--third:after {
  background-image: url("../images/zero-hassle-payments.png");
  right: calc(50% - 1360px);
}
.features__item__info {
  position: relative;
  width: 445px;
}
.features__item__info:after {
  position: absolute;
  content: "";
  display: block;
  width: 734px;
  height: 138px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 11;
}
.features__item__info--first:after {
  background-image: url("../images/yellow-arrow-to-left.svg");
  top: 240px;
  right: -840px;
}
.features__item__info--second:after {
  background-image: url("../images/yellow-arrow-to-right.svg");
  top: -63px;
  right: 835px;
}
.features__item__info--third:after {
  background-image: url("../images/yellow-arrow-to-left.svg");
  top: 25px;
  left: 880px;
}
.features__heading {
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
  margin-bottom: 24px;
}
.features__desc {
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  margin-bottom: 40px;
}
.features__link {
  display: inline-block;
  padding: 14px 19px;
  color: #fff;
  background-color: #fcb72b;
  border: 3px solid transparent;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-decoration: none;
  transition: background-color 0.2s linear,
              color 0.1s linear;
}
.features__link:hover {
  border: 3px solid #fcb72b;
  color: #fcb72b;
  background-color: transparent;
}


/*SITE-FOOTER*/
.site-footer {
  background-image: url("../images/site-footer-bg-circles.svg"),
                    linear-gradient(rgba(47, 59, 89, 0.75), rgba(47, 59, 89, 0.75));
  background-repeat: no-repeat,
                     repeat;
  background-size: 1153px 347px;
  background-position: calc(50% + 300px) calc(50% + 110px);
  padding-top: 102px;
}
/*.site-footer {
  position: sticky;
  bottom: 0;
}*/
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 102px;
  
}
.site-footer__heading {
  width: 415px;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #fff;
}
.site-footer a {
  text-decoration: none;
}
.site-footer__buttons {
  display: flex;
}
.site-footer__button {
  margin-left: 18px;
}
.site-footer__button__img {
  display: block;
}
.site-footer__nav {
  padding-top: 35px;
  padding-bottom: 32px;
  background-color: #333a44;
}
.site-footer__nav__container {
  display: flex;
  align-items: center;
}
.site-footer__list {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: auto;
}
.site-footer__item {
  margin-right: 32px;
}

.site-footer__link {
  text-decoration: none;
  font-size: 15px;
  line-height: 25px;
  font-weight: 700;
  color: #939caa;
  transition: color 0.2s linear;
}
.site-footer__link:hover {
  color: #fcb72b;
}

.site-footer__socials {
  display: flex;
  align-items: center;
}
.site-footer__socials__link {
  margin-left: 24px;
}
.site-footer__socials__link svg {
  display: block;
}
.site-footer__socials__link path {
  transition: fill 0.2s linear;
}
.site-footer__socials__link:hover path {
  fill: #e5ecf4;
}

