@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/space-mono-v6-latin-regular.woff2") format("woff2"),
       url("../fonts/space-mono-v6-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/space-mono-v6-latin-700.woff2") format("woff2"),
       url("../fonts/space-mono-v6-latin-700.woff") format("woff");
}
@font-face {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lexend-deca-v7-latin-regular.woff2") format("woff2"),
       url("../fonts/lexend-deca-v7-latin-regular.woff") format("woff");
}
/*CUSTOM PROPERTIES*/
:root {
  --font-family: "Lexend Deca", "Arial", sans-serif;
  --font-family-space-mono: "Space Mono", monospace;
}
/* #BOX-SIZING */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
h1, h2, h3 {
  font-family: var(--font-family-space-mono);
  margin: 0;
}
p {
  margin: 0;
}
a {
  font-family: var(--font-family-space-mono);
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

/* #GLOBAL-STYLES */
body {
  font-family: var(--font-family);
  background-color: #fff;
  color: #222;
  font-weight: 500;
}

/* VISUALLY HIDING CODE */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  width: 1146px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
/*SITE-HEADER*/
.site-header {
  padding-top: 22px;
  padding-bottom: 21px;
}
.sitenav__container {
  display: flex;
  align-items: center;
}
.link--logo {
  margin-right: 58px;
}
.sitenav__logo,
.site-footer__logo {
  display: block;
}
.sitenav__list {
  display: flex;
  align-items: center;
  padding: 14px 0;
  margin: 0;
  list-style-type: none;
  margin-right: auto;
}
.sitenav__item {
  margin-right: 32px;
}

.sitenav__link {
  text-decoration: none;
  font-size: 15px;
  line-height: 25px;
  font-weight: 700;
  color: #939caa;
  transition: color 0.2s linear;
}
.sitenav__link:hover {
  color: #fcb72b;
}
.sitenav__button--bordered {
  padding: 14px 19px;
  color: #fff;
  background-color: #fcb72b;
  border: 3px solid transparent;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  transition: background-color 0.2s linear,
              color 0.1s linear;
}
.sitenav__button--bordered:hover {
  border: 3px solid #fcb72b;
  color: #fcb72b;
  background-color: #fff;
}

/*MAIN*/

/*SCOOTER-SHARING SECTION*/
.scooter-sharing {
  background-image: linear-gradient(rgba(47, 59, 89, 0.75), rgba(47, 59, 89, 0.75)),
                    url("../images/site-hero-bg-scoot.png");
  background-size: 100%,
                   2610px 1740px;
  background-repeat: repeat,
                     no-repeat;
  background-position: calc(50% + 310px) calc(50% - 430px);
  padding-top: 153px;
  padding-bottom: 153px;
}
.scooter-sharing__info-wrapper {
  width: 500px;
  color: #fff;
}
.scooter-sharing__heading {
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  margin-bottom: 40px;
}

.scooter-sharing__desc {
  padding-left: 95px;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 40px;
}
.scooter-sharing__button {
  display: inline-block;
  padding: 14px 19px;
  color: #fff;
  background-color: #fcb72b;
  border: 3px solid transparent;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  transition: background-color 0.2s linear,
              color 0.1s linear;

  margin-left: 95px;
}
.scooter-sharing__button:hover {
  border: 3px solid #fcb72b;
  color: #fcb72b;
  background-color: transparent;
}
