@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/space-mono-v6-latin-regular.woff2") format("woff2"),
       url("../fonts/space-mono-v6-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/space-mono-v6-latin-700.woff2") format("woff2"),
       url("../fonts/space-mono-v6-latin-700.woff") format("woff");
}
@font-face {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lexend-deca-v7-latin-regular.woff2") format("woff2"),
       url("../fonts/lexend-deca-v7-latin-regular.woff") format("woff");
}
/*CUSTOM PROPERTIES*/
:root {
  --font-family:  "Space Mono", monospace;
}
/* #BOX-SIZING */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
h1, h2, h3 {
  margin: 0;
}
p {
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

/* #GLOBAL-STYLES */
body {
  font-family: var(--font-family);
  background-color: #fff;
  color: #222;
  font-weight: 500;
}

/* VISUALLY HIDING CODE */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  width: 1146px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
/*SITE-HEADER*/
.sitenav {
  margin-top: 22px;
  margin-bottom: 21px;
}
.sitenav__container {
  display: flex;
  align-items: center;
}
.sitenav__link {
  margin-right: 58px;
}
.sitenav__logo,
.site-footer__logo {
  display: block;
}
.sitenav__list {
  display: flex;
  align-items: center;
  padding: 14px 0;
  margin: 0;
  list-style-type: none;
  margin-right: auto;
}
.sitenav__item {
  margin-right: 32px;
}